.job-tile {
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 2px 10px 35px 0 hsla(180, 30%, 33%, 0.479);
    display: grid;
    gap: 1rem;
    margin: 0 2rem;
    padding: 4rem 2rem 2rem 2rem;
    position: relative;
}

.featured-one {
    border-left: 0.4rem solid hsl(180, 29%, 50%);
}

@media screen and (min-width: 600px) {
    .job-tile {
        align-items: center;
        box-shadow: 2px 2px 15px 0 hsla(180, 30%, 33%, 0.253);
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }
}